@model IEnumerable<Task_One.Models.Drinks>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>

    <h1>Drinks</h1>
    @foreach (var item in Model)
    {
        <div>
            <h2>Name:@item.Name</h2>
            <p>Price: @item.Price</p>
            <p>Description:@item.Description</p>
            <p>Id:@item.Id</p>
        </div>
    }

</body>
</html>
