@model Task_One.ViewModels.HomeViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>

<h1>Drinks</h1>
    @foreach (var item in Model.Drinks)
    {
        <div>
            <h2>Name:@item.Name</h2>
            <p>Price: @item.Price</p>
            <p>Description:@item.Description</p>
            <p>Id:@item.Id</p>
        </div>
    }
    <h1>FastFood</h1>
    @foreach (var item in Model.FastFoods)
    {
        <div>
            <h2>Name:@item.Name</h2>
            <p>Price: @item.Price</p>
            <p>Description:@item.Description</p>
            <p>Id:@item.Id</p>
        </div>
    }

      <h1>HotMeals</h1>
    @foreach (var item in Model.HotMeals)
    {
        <div>
            <h2>Name:@item.Name</h2>
            <p>Id:@item.Id</p>
        </div>
    }

    
</body>
</html>
